[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
speechrecognition = "*"
pyttsx3 = "*"
datetime = "*"
wikipedia = "*"
pywhatkit = "*"
chatterbot = "==1.0.2"
pyaudio = "*"

[dev-packages]

[requires]
python_version = "3.7"
